# Importing the Dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Online Retail.xlsx")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

The columns in the dataset are given as:

In [3]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

The target column is 'DIED' which represents if the patient has died due to symptom faced from vaccination. The total number of patients is given as:

In [4]:
df.count()

InvoiceNo      541909
StockCode      541909
Description    540455
Quantity       541909
InvoiceDate    541909
UnitPrice      541909
CustomerID     406829
Country        541909
dtype: int64

We check the relation between the Sale = Quantity * UnitPrice and other variables

In [5]:
df['Sale'] = df['Quantity'] * df["UnitPrice"]
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Sale
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

Therefore, the target column is Sale. Now we need to check the correlation between each of the column and the target column using CHI-SQUARE TEST but before that we need to convert the data from String to frequency table and appropriate. That is, we need to create the CONTINGENCY TABLE.

# Sample CHI-SQUARE Test

In [6]:
from scipy.stats import chi2_contingency

contingency_table = pd.crosstab(df['Sale'], df['Country'])
contingency_table.head()

Country,Australia,Austria,Bahrain,Belgium,Brazil,Canada,Channel Islands,Cyprus,Czech Republic,Denmark,...,RSA,Saudi Arabia,Singapore,Spain,Sweden,Switzerland,USA,United Arab Emirates,United Kingdom,Unspecified
Sale,,,,,,,,,,,,,,,,,,,,,
-168469.60,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
-77183.60,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
-38970.00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
-17836.46,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
-16888.02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

Now, we perform the CHI-SQUARE TEST to check for the correlation between the 'Sale' and 'Country' columns

In [7]:
chi2, p, dof, expected = chi2_contingency(contingency_table)

In [8]:
print(f"Chi-Square Statistic: {chi2}")
print(f"P-value: {p}")
print(f"Degrees of Freedom: {dof}")
print("Expected Frequencies:")
print(expected)

Chi-Square Statistic: 681618.6152172592
P-value: 0.0
Degrees of Freedom: 229511
Expected Frequencies:
[[2.32326830e-03 7.39976638e-04 3.50612372e-05 ... 1.25482323e-04
  9.14319563e-01 8.23016411e-04]
 [2.32326830e-03 7.39976638e-04 3.50612372e-05 ... 1.25482323e-04
  9.14319563e-01 8.23016411e-04]
 [2.32326830e-03 7.39976638e-04 3.50612372e-05 ... 1.25482323e-04
  9.14319563e-01 8.23016411e-04]
 ...
 [2.32326830e-03 7.39976638e-04 3.50612372e-05 ... 1.25482323e-04
  9.14319563e-01 8.23016411e-04]
 [2.32326830e-03 7.39976638e-04 3.50612372e-05 ... 1.25482323e-04
  9.14319563e-01 8.23016411e-04]
 [2.32326830e-03 7.39976638e-04 3.50612372e-05 ... 1.25482323e-04
  9.14319563e-01 8.23016411e-04]]

In [9]:
alpha = 0.05  # significance level
if p < alpha:
    print("Reject the null hypothesis: There is a significant association between Sale and Country.")
else:
    print("Fail to reject the null hypothesis: No significant association between Sale and Country.")

Reject the null hypothesis: There is a significant association between Sale and Country.

# CHI-SQAURE Test on all  the columns

Now, iterating over all the other features and checking for correlation.

In [10]:
test_columns = ['Description', 'InvoiceDate', 'Country']
test_columns

['Description', 'InvoiceDate', 'Country']

In [11]:
chi_square_results = {}

for column in test_columns:
    contingency_table = pd.crosstab (df[column], df['Sale'])
    
    chi2, p, dof, expected = chi2_contingency(contingency_table)
    
    # plt.figure(figsize=(10, 50))  # Increase the figure size
    # sns.heatmap(contingency_table, annot=True, fmt="d", cmap="YlGnBu", linewidths=1, cbar_kws={'label': 'Count'}, annot_kws={"size": 12})

    # plt.title(f'Contingency Table Heatmap for {column} vs Sale', fontsize=16)
    # plt.xlabel('DIED', fontsize=14)
    # plt.ylabel(f'{column}', fontsize=14)

    # plt.tight_layout()
    # plt.show()
    
    
    chi_square_results[column] = {'Chi2 Statistic': chi2, 'p-value': p, 'Degrees of Freedom': dof}

    print(f"Feature: {column}")
    print(f"Chi-Square Statistic: {chi2}")
    print(f"P-value: {p}")
    print(f"Degrees of Freedom: {dof}")
    print('-' * 50)

Feature: Description
Chi-Square Statistic: 94528733.39841844
P-value: 0.0
Degrees of Freedom: 26189066
--------------------------------------------------
Feature: InvoiceDate
Chi-Square Statistic: 557794307.7116135
P-value: 0.0
Degrees of Freedom: 144275577
--------------------------------------------------
Feature: Country
Chi-Square Statistic: 681618.6152172594
P-value: 0.0
Degrees of Freedom: 229511
--------------------------------------------------

# Interpreting Results

In [12]:
related_columns = []
unrelated_columns = []

Displaying the results

In [13]:
alpha = 0.05
for column, result in chi_square_results.items():
    if result['p-value'] < alpha:
        related_columns.append(column)
        print(f"{column}: Significant association (p-value: {result['p-value']})")
    else:
        unrelated_columns.append(column)
        print(f"{column}: No significant association (p-value: {result['p-value']})")

Description: Significant association (p-value: 0.0)
InvoiceDate: Significant association (p-value: 0.0)
Country: Significant association (p-value: 0.0)

In [14]:
print(f"The related columns are: \n {related_columns}")

The related columns are:
 ['Description', 'InvoiceDate', 'Country']

In [15]:
print(f"The unrelated columns are: \n {unrelated_columns}")

The unrelated columns are:
 []